
<h1> test </h1>

<ul>
for(var i = 0 ; i <= <%- objPrincipal.bureaux.length %> -1 ; i++) {
    %>

    <li> i </li>

<% } %>
</ul>

<!--
<%
    for(var cpt = 1 ; cpt <= taille_liste_bureaux-1 ; cpt++) {
    %>

    <section class="POI01">
        <div class="fermer"></div>
        <div class="header">
            <div class="adress">
			    <h6><%= lieu_site %></h6>
			    <h6><%=lieu_adresse%></h6>
			</div>
           <div class="office">
			    <h3>BUREAU DE VOTE</h3>
				<SELECT name="num_bureaux">
				<OPTION selected> <%= le_num_bureau%>
				<%
			    for(var i = 1 ; i <= taille_liste-1 ; i++) {
			    %>

			    <OPTION> <%= liste_bureau[i] %> 

			<% } %>
				</SELECT>
			</div>
        </div>
        <div class="data-container">
            
        </div>
        
        <div class="other">
            <h1>CE BUREAU A BESOIN DE VOUS !</h1>
            <button>Je m'inscris</button>
        </div>
    </section> 

<% } %>


-->